/* prevent select */
.no-select {    
    -webkit-user-select:none;
    -moz-user-select:none;
    -o-user-select:none;
    user-select:none;
}
.box1 {
    box-sizing: border-box;
    flex-direction: column;
    display: flex;
    height: 800px;
    justify-content: center;
    align-items: center;
}

.displayBox {
    display: flex;
    flex-direction: column;
    width: 250px;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
}

.numberBox {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.btn0 {
    grid-column: 2 / 3;
}

.operatorBox {
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
